<div class="card">
    <div class="card-body">
        {% if board.test %}
            <h5 class="card-title"><a class="text-dark" href="{% url 'home:detail' board.pk %}"><del>{{ board.title }}</del></a></h5>
            <p class="text-danger">Deadline</p>
        {% else %}
            <h5 class="card-title"><a class="text-dark" href="{% url 'home:detail' board.pk %}">{{ board.title }}</a></h5>
        {% endif %}
        {% if board.completed %}
            <a href="{% url 'home:completed_change' board.pk %}">MOVE TODO</a>
        {% else %}
            <a href="{% url 'home:completed_change' board.pk %}">MOVE FINISHED</a>
        {% endif %}
    </div>
</div>