<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>New Title</h1>
    <form action="{% url 'home:create'%}" method="POST">
        {% csrf_token %}
        <label for="title">TITLE</label>
        <input type="text" name="title" id="title"/><br>

        <label for="content">CONTENT</label>
        <input type="text" name="content" id="content"/><br>

        <label for="content">PRIORITY</label>
        <input type="number" name="priority" id="priority" min="1" max="3"/><br>

        <label for="content">FINISHED_AT</label>
        <input type="date" name="finished_at" id="content"/><br>

        <input type="submit" value="Submit"/>

    </form>
</body>
</html>