{% extends 'base.html' %}
{% block title %}DETAIL{% endblock %}
{% block body %}
<div class="container">
    <h1 class="text-center mb-3">DETAIL</h1>
    <hr>
    <form action="{% url 'home:update' board.pk %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">*TITLE</span>
            </div>
            <input type="text" name="title" id="title" maxlength="40" value="{{board.title}}" class="form-control" placeholder="TITLE" aria-label="TITLE" readonly/>
        
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">*PRIORITY</span>
                    </div>
                    {% if board.priority == 1 %}
                        <input type="text" name="priority" id="priority" value="HIGH" class="form-control" readonly>
                    {% elif board.priority == 2 %}
                        <input type="text" name="priority" id="priority" value="Medium" class="form-control" readonly>
                    {% elif board.priority == 3 %}
                        <input type="text" name="priority" id="priority" value="LOW" class="form-control" readonly>
                    {% endif %}
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">DUE DAY</span>
                    </div>
                    <input type="date" name="finished_at" id="content" class="form-control" value="{{board.finished_at | date:'Y-m-d' }}" placeholder="DUE DAY" aria-label="DUE DAY" readonly>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">*CONTENT</span>
            </div>
            <textarea class="form-control" name="content" id="content" aria-label="With textarea" placeholder="CONTENT" aria-label="CONTENT" style="height:100px" readonly>{{board.content}}</textarea>
        </div>

        <button class="btn btn-outline-success" type="submit">EDIT</button>
        
    </form>
</div>
{% endblock %}