<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home:update' board.pk %}">edit</a>
    <h2>{{ board.title }}</h2>
    <h3>{{ board.content }}</h3>
    <h3>{{ board.priority }}</h3>
    <h3>{{ board.finished_at | date:'Y-m-d' }}</h3>
    <form action="{% url 'home:delete' board.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="DELETE">
    </form>
</body>
</html>