{% extends 'base.html' %}
{% block title %}INDEX{% endblock %}
{% block body %}
    <div class="row">
        <div class="col">
            <h2 class="text-center">TODO</h2>
            <hr>
            {% for board in boards %}
                {% if board.completed == False %}
                {% include '_cards.html' %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col">
            <h2 class="text-center">FINISHED</h2>
            <hr>
            {% for board in boards %}
                {% if board.completed == True %}
                {% include '_cards.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
{% endblock %}

